body {
  background-color: #191b1f;
}

#template,
#render,
#values {
  width: 100%;
  min-height: 300px;
  resize: vertical;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #ccc;
  background: #292d3e;
  color: #fff;
  padding: 2px 5px;
}

#render {
  overflow: auto;
  background-color: #1d202d;
}

span.whitespace {
  color: #aaa;
}

label {
  font-weight: normal;
  color: #fff;
}

h1 {
  color: #fff;
}

form {
  margin-top: 5px;
}

textarea {
  border-radius: 10px;
}
